#API CONFIGURATION
PORT=3000
HOST_API=http://localhost:3000/api/
API_PREFIX=api

ENV=PROD #Ambiente DEV=Desarrollo, PROD=Produccion
FILE_LOG=true #true = se actian los logs de achivo, false = se desactivan los logs de archivos

DEFAULT_LIMIT=5
DEFAULT_OFFSET=0

#all = activa todos los logs nivel alto, 
#all-light = activa todos los logs pero menos pesados
#error = activa logs solo de error
#warm = activa logs solo de tipo warm
#info = activa los de tipo info y tipo logs del nestcommon